<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, maximum-scale=1, target-densityDPI=device-dpi"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />
		<title>{{YOUR_TITLE}}</title>
		<link media="all" rel="stylesheet" href="css/all.css" type="text/css" />
		<!--[if lte IE 9]>
		<link rel="stylesheet" type="text/css" href="css/lte9.css" media="screen"/>
		<![endif]-->
	</head>
	<body>
		<header>
		    <h1>This is an example header</h1>
		    <p>And some descriotion</p>
		</header>
		<nav>
		<ul class="menu">
		    <li><a href="#section">Section</a></li>
		</ul>
		</nav>
		<section id="section">
		<h2>Section title</h2>
		<div>
		    <p>Lorem ipsum text here</p>
		</div>
		</section>
		<footer>
		<span>W3Develops code session, 2018</span>
		</footer>
		<script type="text/javascript" src="js/custom.js"></script>
	</body>
</html>