<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, maximum-scale=1, target-densityDPI=device-dpi"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />
		<link media="all" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" type="text/css" />
		<link media="all" rel="stylesheet" href="css/all.css" type="text/css" />
		<!--[if lte IE 9]>
		<link rel="stylesheet" type="text/css" href="css/lte9.css" media="screen"/>
		<![endif]-->
		<title>{{YOUR_TITLE}}</title>
	</head>
	<body>
		<header>
		    <h1>This is an example header</h1>
		    <p>And some descriotion</p>
			<nav>
			<ul class="menu">
			    <li><a href="#section">Section</a></li>
			</ul>
			</nav>
		</header>
		<div id="content">
				<!-- START Page content-->
				<div>
				</div>
				<!-- END Page content-->
				</div>
		<footer>
		<span>W3Develops code session, 2018</span>
		</footer>
		<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
		<script type="text/javascript" src="js/custom.js"></script>
		<!-- START Custom scripts-->
	
		<!-- END Custom scripts -->
	</body>
</html>